.jumbotron {
  text-align: center;
  text-decoration: solid;
  text-shadow: black;
}

.questions {
  text-align: center;
}

.results {
  text-align: center;
  display: none;
}

#otherResults {
  text-align: center;
}