.jumbotron {
  text-align: center;
  text-decoration: solid;
  text-shadow: black;
}

form#questions {
  text-align: center;
}

#c #cPlusPlus #cSharp #css #python #ruby #java #javascript #html #sql #sqift #perl #php {
  display: none;
  text-align: center;
}

#otherResults {
  align-content: center;
}