.jumbotron {
  text-align: center;
  text-decoration: solid;
  text-shadow: black;
}

form#questions {
  text-align: center;
}

.results {
  text-align: center;

}

#otherResults {
  align-content: center;
}